* {
  padding: 0;
  margin: 0;
}

body {
  background-size: cover;
  background-position: top;
}

.wrapper {
  max-width: 1200px;
  margin: auto;
  /*font-family: 'Source Sans Pro', sans-serif;*/
  font-family: 'Montserrat', sans-serif;
  /*color: white;*/
}

.athalaia {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
  padding:40px 0;
  /*background-color: white;*/
  /*background-color: #F7F8F9;*/
  z-index: 2;
  width: 95%;
  margin:auto;
}

.athalaia h2 {
  font-size: 32px;
  color: white;
}

.athalaia h3 {
  color: white;
  font-size: 24px;
}

.banner {
  text-align: center;
}

.banner video {
  width: 95%;
  text-align: center;
  border-radius: 4px;
}

.content-presentation {
  color: black;
  text-align: center;
}

.content-presentation h1 {
  margin: 20px 0 10px 0;
  font-size: 24px;
  color: #2EA2FF;
}

.content-presentation hr {
  width: 40%;
  margin: 20px auto 0 auto;
  color: #EBEBEB;
}

.content-presentation h2 {
  text-align: center;
  opacity: 0.6;
  font-size: 18px;
  margin-top: 20px !important;
}

.content-presentation img {
  width: 200px;
  margin-top:60px;
}

.description-athalaia h3 {
  font-size: 18px;
}

.description-athalaia p {
  opacity: 0.7;
}

.description-athalaia {
  display: flex;
}

.competence {
  text-align: left;
  margin-top: 60px;
}

.description-athalaia {
  border: 1px solid #EBEBEB;
  padding: 15px;
  border-radius: 4px;
  margin: 20px;
  background: #F7F7F7;
  height: 140px;
}

.description-athalaia i {
  font-size: 45px;
  color:#2EA2FF;
}

.block-competence {
  display: flex;
}

.details p{
  opacity: 0.6;
  margin-top: 10px;
}

.details h3{
  color:#172A39;
  font-size: 20px;
}

.details {
  margin-left: 20px;
}

.enjeux-cyber {
  margin:150px 0 0 20px;
  width: 50%;
  background: #F7F7F7;
  border-radius: 4px;
  border: 1px solid #EBEBEB;
  padding: 10px;
}

.enjeux-cyber h2 {
  font-size: 28px;
  color: #2EA2FF;
}

.enjeux-cyber p {
  margin-top: 20px;
  opacity: 0.7;
}

.pricing {
  margin-top: 150px;
}

.pricing h2 {
  text-align: center;
  font-size: 36px;
  color: white;
}

.card {
  background: white;
  padding: 40px 20px 55px 20px;
  border-radius: 4px;
  text-align: center;
  width: 25%;
  margin: 0 20px;
  transition: 0.3s ease;
  box-shadow: rgba(33,33,33,.055) 0 4px 24px 5px;
  border-bottom: 7px solid #EBEBEB;
}

.card:hover {
  border-bottom: 7px solid #0C7DFE;
}

.card h3 {
  font-size: 20px;
  color: #0C7DFE;
}

.card h4 {
  font-size: 70px;
  color: #091E29;
  margin-top: 20px;
}

.card p {
  opacity: 0.6;
}

.flex-card {
  display: flex;
  justify-content: center;
  margin:150px 0;
}

.info-prix p{
  opacity: 1;
  text-align: left;
  margin: 20px 0;
}

.info-prix {
  margin: 50px 0 65px 10px;
}

.btn-contact {
  color: white;
  background: #0C7DFE;
  padding: 15px 25px;
  text-decoration: none;
  border-radius: 4px;
  transition: 0.5s ease;
}

.btn-contact:hover {
  color: #0C7DFE;
  background: white;
  border: 1px solid #0C7DFE;
}

.hors-connexion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
}
.hors-connexion img{
  width: 45%;
  border-radius: 4px;
}

.descriptif-test {
  /*width: 100%;*/
  color: white;
  display: flex;
  align-items: center;
  margin: 30px 0 30px 20px;
  margin-right: 0 !important;
}

.descriptif-test i {
  font-size: 40px;
  color: white;
  padding: 10px;
}

.descriptif h3 {
  font-size: 24px;
}

.descriptif {
  margin-left: 20px;
}

.descriptif p {
  margin-top: 10px;
  opacity: 0.7;
}

.footer {
  /*background: #F4F4F4;*/
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 10px;
  margin-top: 150px;
  color: white;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: white;
  opacity: 0.6;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
  transition: 0.5s ease;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: white;
}

.copyright {
  text-align: right;
  color:white;
  font-size: 18px;
  margin-bottom: 50px;
  margin-right: 10px;
}

.footer-copyright a {
  color: white;
  text-decoration: none;
  transition: 0.5s ease;
  border: 1px solid white;
  border-radius: 4px;
  padding: 5px 10px;
}

.footer-copyright a:hover {
  opacity: 0.7;
}

@media screen and (max-width: 640px) {
  .bloc {
    display:block;
    clear:both;
  }
}
